<nav>
  <ul
    class="flex flex-row items-center justify-start gap-4 p-4 w-full bg-white border-1 border-b-gray-500">
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Dashboard</a
      >
    </li>
    <li>
      <a
        routerLink="/products"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Products</a
      >
    </li>
    <li>
      <a
        routerLink="/orders"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Orders</a
      >
    </li>
  </ul>
</nav>
