@import "tailwindcss";

@layer base {
  small{
    color: red;
  }
    input[type="text"],
    input[type="email"] , 
    input[type="password"]{
      outline: none;
      border: 1px solid black;

      height: 40px;
      width: 100%;

      padding: 2%;

      border-radius: 5px;

    }
    input::placeholder{
      font-family: inter;
      font-size: 11px;
    }
  }

  @layer components {
    /* Ion classes */
    ion-card {
      @apply flex flex-col gap-2 p-6;
    }
    ion-list{
      @apply w-full
    }
  
    /* Other classes */
    .table-container {
      @apply container w-full;
    }
  
    .table {
      @apply w-full bg-white rounded-lg shadow-lg overflow-hidden;
    }
  
    .table-header {
      @apply bg-gray-800 text-white;
    }
  
    .table-row {
      @apply border-b hover:bg-gray-50;
    }
  
    .table-cell {
      @apply py-3 px-4 text-left;
    }
  }
  
  @layer utilities {
    .error_input{
      border-bottom: 1px solid red
    }
  }