@import "tailwindcss";

@layer base {
    input[type="text"],
    input[type="email"] , 
    input[type="password"]{
      outline: none;
      border: 1px solid black;

      height: 40px;
      width: 100%;

      padding: 2%;

      border-radius: 5px;

    }
    input::placeholder{
      font-family: inter;
      font-size: 11px;
    }
  }

  @layer components{


  } 

  @layer utilities {
    .error_input{
      border: 1px solid red
    }
  }